<%- include('./partials/header.ejs') %>

<div class="container">
	<div class="col s11 offset-s1">
			<h2 class="center">SnapShot-ki</h2>
			<div class="row green lighten-3">
				<div class="section">
				<div class="col s12 center">
					<h3 class="center">All Posts&nbsp;<i class="small material-icons ">photo_library</i></h3>


				</div>
				</div>
				<div class="row"></div>
				<% for(let i = (posts.length -1); i >= 0; i--) { %>
				<a class="black-text" href="../posts/<%= posts[i].id %>">
					<div class="col s3 hoverable">
						<img class="responsive-img z-depth-3" src="../<%=posts[i].image.slice(7)%>">
						<p class="center"><%=posts[i].title%></p>
					</div>
				</a>
				<% } %>
			</div>


	</div>
</div>


<%- include('./partials/footer.ejs') %>
