<%- include('./partials/header.ejs') %>

<div class="container">
	<div class="col s11 offset-s1">
			<h2 class="center">SnapShot-ki</h2>
			<div class="row green lighten-3">
				<div class="section">
				<div class="row valign-wrapper">
					<h3 class="left">&nbsp;&nbsp; All Posts &nbsp; <i class="small material-icons ">photo_library</i></h3>
					<div class="input-field col s3 right">
						<select class="browser-default">
							<option value="date">Date Created</option>
							<option value="liked">Most Liked</option>
						</select>
					</div>

				</div>
				</div>
				<div class="row"></div>
				<% for(let i = 0; i < posts.length; i++) { %>
				<a href="../posts/<%= posts[i].id %>">
					<div class="col s3 hoverable">
						<img class="responsive-img z-depth-3" src="../<%=posts[i].image.slice(7)%>">
						<p class="center"><%=posts[i].title%></p>
					</div>
				</a>
				<% } %>
			</div>


	</div>
</div>


<%- include('./partials/footer.ejs') %>
