<%- include('../partials/header.ejs') %>

<div class="row center">
	<div class="row">
		<div class="col s2 card-panel green lighten-3 z-depth-1 offset-s1" >
			<div class="row">
				<% if(user.profilePic === ' ') {%>
					<i class="large material-icons">account_circle</i>
				<% } else {%>
				<img src="../<%= user.profilePic.slice(7) %>" class="responsive-img"/>
				<% } %>
				<div class="row">
					<% if(!(user.firstName === ' ') && !(user.lastName === ' ')) {%>
					<%= user.firstName %> <%= user.lastName %>
					<% } %>
				</div>
			</div>
			<div class="row">
				<p>
					<%= user.bio %>
				</p>
				<a class="btn-small waves-effect waves-light" href="/users/<%=user.userName%>/edit">Edit</a>
			</div>
		</div>
		<div class="col s6">
			<h2><%= user.userName %></h2>
			<div class="row">
				collection
				<div class="container">

				</div>
			</div>
		</div>
	</div>

</div>

<%- include('../partials/footer.ejs') %>
