<%- include('../partials/header.ejs') %>

<div class="row center">
	<div class="row">
		<div class="col s2 card-panel green lighten-3 z-depth-1 offset-s1" >
			<div class="row">
				<% if(user.profilePic == null) {%>
					<i class="large material-icons">account_circle</i>
				<% } else {%>
				<img src="data:image/jpeg;base64, <%= user.profilePic.data %>" class="responsive-img"/>
				<% } %>
				<div class="row">
					<% if(!(user.firstName === ' ') && !(user.lastName === ' ')) {%>
					<%= user.firstName %> <%= user.lastName %>
					<% } %>
				</div>
			</div>
			<div class="row">
				<p>
					<%= user.bio %>
				</p>
				<% if(currentUser.userName === user.userName) {%>
				<a class="btn-small waves-effect waves-light" href="/users/<%=user.userName%>/edit">Edit<i class="material-icons right">account_box</i></a>
				<% } %>
			</div>
		</div>

		<div class="col s8">

			<div class="container">
				<h2><%= user.userName %></h2>
				<div class="row"></div>
					<div class="row green lighten-3">
					<div class="section">
						<div class="col s12 center">
						<h3 class="center">&nbsp; Posts &nbsp; <i class="small material-icons ">photo_library</i></h3>

						</div>
					</div>
					<div class="row"></div>
						<% for(let i = (posts.length -1); i >= 0; i--) { %>
							<a class="black-text" href="../posts/<%= posts[i].id %>">
								<div class="col s3 hoverable">

									<img class="responsive-img z-depth-3" src="data:image/jpeg;base64, <%=posts[i].image.data%>">
									<p class="center"><%=posts[i].title%></p>
								</div>
							</a>
						<% } %>
					</div>

			</div>
		</div>
	</div>

</div>

<%- include('../partials/footer.ejs') %>
